/* https://images.unsplash.com/photo-1508418717103-8b56bcf03360?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

nav {
    width: 100vw;
    height: 10%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: right;
    padding: 15px;
}

nav h4 {
    margin: 15px;
    font-size: 1rem;
    color: black;
    font-weight: 600;
}
nav h4 i {
    font-size: 16px;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 50%;
}
nav h5 {
    display: none;
}
section {
    width: 100%;
    height: 35%;
    /* background-color: red; */
    padding: 60px;
}
section h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
}
article{
    width: 100%;
    height: 30%;
    /* background-color: aquamarine; */
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}
article p {
    width: 28%;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
article .btns {
    width: 20%;
    padding: 3px 10px;
}
article .btns h3 {
    font-size: 18px;
    font-weight: 500;
}
article .btns .elem{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    padding-top: 15px;
    margin: 10px;
}
article .btns .elem i{
    opacity: 0;
}
article .btns h3:hover{
    font-weight: 600;
    cursor: pointer;
}
article .btns .elem:hover i {
    cursor: pointer;
    opacity: 1;
}
figure {
    width: 100%;
    height: 25%;
    background-image: url('image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 600px) {
    .main {
        width: 100%;
        height: 100%;
        background: whitesmoke;
    }
    
    nav {
        height: 8%;
        /* background-color: antiquewhite; */
        justify-content: left;
        padding: 15px;
    }
    
    nav h4 {
        display: none;
    }
    nav h4 i {
        display: none;
    }
    nav h5 {
        display: inline;
        font-size: 25px;
    }
    section {
        height: 25%;
        /* background-color: red; */
        padding: 20px 15px;
    }
    section h1 {
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
    }
    article{
        width: 100vw;
        height: 20%;
        /* background-color: aquamarine; */
        padding: 15px;
        justify-content: space-between;
    }
    article p {
        width: 90%;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        padding-bottom: 30px;
    }
    article .btns {
        display: none;
    }
    figure {
        width: 100%;
        height: 47%;
        background-image: url('image-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:top;
    }
}
